html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Libre Franklin", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --col-height: 850px;
  --col-width: 400px;
  background: #fffff0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
}
